* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-family: Inter;
    font-weight: 600;
    color: #403F3D
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: block;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.count {
    background-color: #E1D4C9;
    padding: 20px 40px 40px 40px;
    margin: 0 auto;
}

.header-count {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 60px;
}

.nav-count {
    flex-grow: 1;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav li {
    margin: 0 15px;
}

.header-menu {
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 72px;
}

.menu-count {
    background: url('images/img-hero.png') 50% no-repeat;
    height: 644px;
    margin: 20px 0;
    border-radius: 40px;
    position: relative;
}

.menu-info {
    width: 530px;
    height: 444px;
    position: absolute;
    left: 100px;
    top: 85px;
}

.menu-info__title {
    font-size: 72px;
}

.menu-info__title_first {
    color: #B0907A;
    font-style: italic;
}

.menu-info__title_other {
    color: #E1D4C9
}

.menu-info__description {
    color: #E1D4C9;
    font-weight: 400;
    line-height: 24px;
    padding: 50px 0;
}

.menu-info__button {
    width: 200px;
    height: 65px;
    border-radius: 100px;
    background-color: #E1D4C9;
    font-size: 16px;
}

.choose {
    margin: 100px 0;
}

.choose-title {
    text-align: center;
    font-size: 60px;
}

.choose-title_italic {
    color: #B0907A;
    font-style: italic;
}

.choose-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

.slider-button {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: #665F55 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
}

.slider {
    width: 1152px;
    height: 640px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.slider__title {
    font-size: 24px;
    line-height: 30px;
    margin: 15px 0 0 0;
}

.slider__info {
    width: 480px;
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    margin: 15px 0;
}

.slider__prise {
    font-size: 24px;
    line-height: 30px;
}

.slide-bar-count {
    margin: 40px 0 0 0;
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide-bar-count__item {
    width: 40px;
    height: 4px;
    background-color: #C1B6AD;
    border-radius: 100px;
}

.slide-bar-count__item_active {
    background-color: #665F55;
}

.photos-section {
    padding-top: 40px;
}

.photos-title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
}

.photos-title_italic {
    color: #B0907A;
    font-style: italic;
}

.photos-count {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

.photo {
    width: 660px;
    border-radius: 20px;
    margin-bottom: 40px;
}

.photos-left_top {
    height: 590px;
    background: url("images/about-1.png") 50% no-repeat;
}

.photos-left_bottom {
    height: 430px;
    background: url("images/about-2.png") 50% no-repeat;
}

.photos-right_top {
    height: 430px;
    background: url("images/about-3.png") 50% no-repeat;
}

.photos-right_bottom {
    height: 590px;
    background: url("images/about-4.png") 50% no-repeat;
}

.download-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 60px 0;
}

.download-info {
    width: 630px;
    height: 342px;
}

.download-title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
}

.download-title_italic {
    color: #B0907A;
    font-style: italic;
}

.download-description {
    font-weight: 400;
    line-height: 24px;
    padding: 40px 0;
}

.download-buttons {
    display: flex;
    align-items: center;
}

.download-button {
    width: 200px;
    height: 64px;
    border: #665F55 1px solid;
    border-radius: 100px;
    margin: 0 20px 0 0;
    padding: 12px 20px;
    display: flex;
    align-items: center;
}

.download-button-info {
    margin: 0 0 0 10px
}

.download-button-info__text {
    font-size: 10px;
    line-height: 14px;
}

.footer {
    width: 1360px;
    height: 450px;
    border-radius: 40px;
    padding: 100px;
    background-color: #665F55;
    display: flex;
    align-items: center;
}

.footer-left {
    width: 530px;
    height: 150px;
    margin: 0 100px 0 0;
}

.footer-title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
    color: #E1D4C9;
}

.footer-title_italic {
    color: #B0907A;
    font-style: italic;
}

.footer-apps {
    display: flex;
    align-items: center;
    margin: 40px 0 0 0;
}

.footer-apps__icon {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: #C1B6AD 1px solid;
    margin: 0 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts {
    color: #E1D4C9;
}

.contacts-title {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 40px 0;
}
.contacts-info{
    margin: 0 0 20px 0;
}
.contacts-icon {
    margin: 0 5px 0 0
}
.contacts-icon__clock{
    width: 17px;
    height: 17px;
    border-radius: 100px;
    border: #E1D4C9 1px solid;
    display: inline-block;
    position: relative;
}
.contacts-icon__clock_min{
    width: 2px;
    height: 8px;
    background-color: #E1D4C9;
    border-radius: 100px;
    position: absolute;
    top: 1px;
    left: 7px;
}
.contacts-icon__clock_hour{
    width: 8px;
    height: 2px;
    background-color: #E1D4C9;
    border-radius: 100px;
    position: absolute;
    top: 7px;
    left: 7px;
}