* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    max-width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-family: Inter;
    font-weight: 600;
    color: #403F3D;
    background-color: #E1D4C9;
    scroll-behavior: smooth;
    margin: 0 auto;
    overflow-x: hidden;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: block;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
    color: #403F3D;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
}

.coffee-house {
    width: 1px;
    height: 1px;
    opacity: 0;
}

.count {
    padding: 20px 40px 40px 40px;
    margin: 0 auto;
    max-width: 1440px;
}

@media (max-width: 650px) {
    .count {
        padding: 20px 20px 40px 20px;
    }
}

@media (max-width: 380px) {
    .count {
        padding: 20px 16px 40px 16px;
    }
}

.header-count {
    display: flex;
    align-items: center;
    position: relative;
}


.logo-count {
    align-self: flex-start;
}

.logo {
    max-width: 100px;
    max-height: 60px;
}

.nav-count {
    flex-grow: 1;
}

.nav-count_open {
    position: relative;
    right: -100%;
    animation: appearance-nav-menu 0.4s ease-in;
    animation-fill-mode: forwards;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav li {
    margin: 0 15px;
    cursor: pointer;
    transition: 0.3s;
}


.header-nav li:hover {
    border-bottom: #403F3D 2px solid;
}

.header-nav__menu-link {
    display: none;
    margin: 30px 0 0 0;
}

.header-nav__menu-link img {
    margin: 0 0 0 10px;
}

.header-menu-link {
    color: #403F3D;
    max-height: 28px;
}

.header-menu-link:hover {
    border-bottom: #403F3D 2px solid;
}

.header-menu {
    display: flex;
    align-items: end;
    justify-content: space-around;
    max-width: 72px;
}

.header-nav_open {
    position: sticky;
    top: 100px;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #E1D4C9;
    display: flex;
    justify-content: start;
    z-index: 50;
    width: 100%;
    height: 100vh;
    visibility: visible;
    flex-direction: column;
}

@keyframes appearance-nav-menu {
    0% {
        right: -100vw;
    }
    100% {
        right: 0;
    }
}

.header-nav_open:first-child {
    margin: 120px 0 0 0;
}

.header-nav_open li {
    margin: 0 0 40px 0;
}

.header-nav_open .header-nav__menu-link {
    display: flex;
}

.header-burger {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: #665F55 1px solid;
    visibility: hidden;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-burger__top-line {
    width: 16px;
    height: 1px;
    background-color: #665F55;
    margin: 0 0 2px 0;
    transition: 0.3s;
}

.header-burger__bottom-line {
    width: 16px;
    height: 1px;
    background-color: #665F55;
    margin: 2px 0 0 0;
    transition: 0.3s;
}

.header-burger__top-line_open {
    transform: translate(1px, 3px) rotate(45deg);
}

.header-burger__bottom-line_open {
    transform: translate(0, -1px)rotate(-45deg);
}

@media (max-width: 768px) {
    .header-burger {
        visibility: visible;
    }

    .nav-count {
        visibility: hidden;
    }

    .header-menu-link {
        visibility: hidden;
    }
}

@media (max-width: 380px) {
    .header-burger {
        right: 20px;
    }
}

.enjoy-count {
    background: url('images/img-hero.png') 50% no-repeat;
    height: 644px;
    margin: 20px 0;
    border-radius: 40px;
    position: relative;
    padding: 100px;
}


.enjoy-info {
    max-width: 530px;
    max-height: 444px;
}

.enjoy-info__title {
    font-size: 72px;
}

.enjoy-info__title_first {
    color: #B0907A;
    font-style: italic;
    display: inline;
}

.enjoy-info__title_other {
    color: #E1D4C9;
}

.enjoy-info__description {
    color: #E1D4C9;
    font-weight: 400;
    line-height: 24px;
    padding: 50px 0;
}

.enjoy-info__button {
    width: 200px;
    height: 65px;
    border-radius: 100px;
    background-color: #E1D4C9;
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.enjoy-info__button span {
    margin: 0 10px 0 20px;
}

.enjoy-info__button_img {
    opacity: 0;
    transition: 0.3s;
}

.enjoy-info__button:hover img {
    opacity: 100;
}

@media (max-width: 800px) {
    .enjoy-count {
        padding: 100px 60px;
    }
}

@media (max-width: 715px) {
    .enjoy-count {
        padding: 60px 16px;
        height: 100%;
    }

    .enjoy-info__title {
        font-size: 42px;
    }
}

.favourite {
    margin: 100px 0;
}

.favourite-title {
    text-align: center;
    font-size: 60px;
}

.favourite-title_italic {
    color: #B0907A;
    font-style: italic;
    display: inline-block;
}

.favourite-slider {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

.slider-button {
    min-width: 60px;
    height: 60px;
    border-radius: 100px;
    border: #665F55 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
    cursor: pointer;
    padding: 10px;
}

.slider-button:hover {
    background-color: #665F55;

}

.slider-button:hover svg path {
    stroke: #E1D4C9
}

.slider {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.slider__title {
    font-size: 24px;
    line-height: 30px;
    margin: 15px 0 0 0;
}


.slider__info {
    text-align: center;
    font-weight: 400;
    line-height: 24px;
    margin: 15px 0;
}

.slider__prise {
    font-size: 24px;
    line-height: 30px;
}

.slide-bar-count {
    margin: 40px 0 0 0;
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.slide-bar-count__item {
    width: 40px;
    height: 4px;
    background-color: #C1B6AD;
    border-radius: 100px;
}

.slide-bar-count__item_active {
    background-color: #665F55;
}

@media (max-width: 750px) {
    .slider__img {
        width: 50vw;
    }
}

@media (max-width: 650px) {
    .favourite {
        margin: 80px 0 40px 0;
    }

    .slider-button {
        display: none;
    }

    .slider__img {
        width: 90vw;
    }

    .favourite-title {
        text-align: center;
        font-size: 32px;
    }
}

.about-section {
    padding-top: 40px;
}

.about-title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
    display: inline;
}

.about-title_italic {
    color: #B0907A;
    font-style: italic;
    display: inline;
}

.about-count {
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    margin: 40px 0 0 0;
}

.about-left {
    width: 100%;
    margin: 0 40px 0 0;
}


.about-right {
    width: 100%;
}


.photo {
    border-radius: 20px;
    margin-bottom: 40px;
}

.about-left_top {
    height: 590px;
    background: url("images/about-1.png") 50% no-repeat;
}

.about-left_bottom {
    height: 430px;
    background: url("images/about-2.png") 50% no-repeat;
}

.about-right_top {
    height: 430px;
    background: url("images/about-3.png") 50% no-repeat;
}

.about-right_bottom {
    height: 590px;
    background: url("images/about-4.png") 50% no-repeat;
}


@media (max-width: 768px) {
    .about-count {
        display: block;
    }


    .about-left_bottom {
        display: none;
    }

    .about-right_top {
        display: none;
    }
}

@media (max-width: 650px) {
    .about-title {
        font-size: 32px;
        line-height: 40px;
    }
}

.mobile-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 60px 0;
    height: 630px;
}

.mobile-info {
    max-width: 630px;
    height: 342px;
}

.mobile-title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
}

.mobile-title_italic {
    color: #B0907A;
    font-style: italic;
    display: inline-block;
}

.mobile-description {
    font-weight: 400;
    line-height: 24px;
    padding: 40px 0;
}

.mobile-buttons {
    display: flex;
    align-items: center;
}

.mobile-button {
    width: 200px;
    height: 64px;
    border: #665F55 1px solid;
    border-radius: 100px;
    margin: 0 20px 0 0;
    padding: 12px 20px;
    display: flex;
    align-items: center;
    transition: 0.3s;
    cursor: pointer;
}

.mobile-button:hover {
    background-color: #665F55;
}

.mobile-button:hover svg path {
    fill: #E1D4C9;
}

.mobile-button:hover .mobile-button-info {
    color: #E1D4C9;
}

.mobile-button-info {
    margin: 0 0 0 10px
}

.mobile-button-info__text {
    font-size: 10px;
    line-height: 14px;
}

.download-photo {
    max-height: 630px;
}

.download-photo img {
    height: 100%;
    width: 100%;
}

@media (max-width: 768px) {
    .mobile-section {
        height: 100%;
        display: block;
        padding: 0 0 50px 0;
    }

    .mobile-info {
        max-width: 678px;
    }

    .download-photo {
        margin: 40px 0 0 0;
    }
}

@media (max-width: 650px) {
    .mobile-title {
        font-size: 32px;
        line-height: 40px;
        padding: 60px 0 0 0;
    }

    .mobile-buttons {
        display: block;
    }

    .mobile-button {
        margin: 0 0 20px 0;
    }

    .mobile-info {
        height: 100%;
    }
}

.footer {
    height: 450px;
    border-radius: 40px;
    padding: 100px;
    background-color: #665F55;
    display: flex;
    align-items: center;
}

.footer-left {
    max-width: 530px;
    height: 150px;
    margin: 0 100px 0 0;
}


.footer-title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
    color: #E1D4C9;
}

.footer-title_italic {
    color: #B0907A;
    font-style: italic;
}

.footer-apps {
    display: flex;
    align-items: center;
    margin: 40px 0 0 0;
}

.footer-apps__icon {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: #C1B6AD 1px solid;
    margin: 0 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.footer-apps__icon:hover {
    background-color: #E1D4C9;
}

.footer-apps__icon:hover svg path {
    stroke: #403F3D;
}

.contacts {
    color: #E1D4C9;
}

.contacts-title {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 40px 0;
}

.contacts-info {
    margin: 0 0 15px 0;
    height: 24px;
}

.contacts-icon {
    margin: 0 5px 0 0
}


.contacts-info a {
    color: #E1D4C9;
    height: 24px;
    display: inline-block;
    transition: 0.3s;
}

.contacts-info a:hover {
    border-bottom: #E1D4C9 2px solid;
}

.contacts-icon__clock {
    width: 17px;
    height: 17px;
    border-radius: 100px;
    border: #E1D4C9 1px solid;
    display: inline-block;
    position: relative;
}

.contacts-icon__clock_min {
    width: 2px;
    height: 8px;
    background-color: #E1D4C9;
    border-radius: 100px;
    position: absolute;
    top: 1px;
    left: 7px;
}

.contacts-icon__clock_hour {
    width: 8px;
    height: 2px;
    background-color: #E1D4C9;
    border-radius: 100px;
    position: absolute;
    top: 7px;
    left: 7px;
}

@media (max-width: 1120px) {
    .footer {
        align-items: start;
        padding: 45px;
    }

    .footer-left {
        margin: 0 50px 0 0;
    }
}

@media (max-width: 768px) {
    .footer {
        display: block;
        height: 100%;
        padding: 100px 60px;
    }

    .footer-left {
        height: 100%;
    }

    .contacts {
        padding: 80px 0 0 0;
    }
}

@media (max-width: 650px) {
    .footer {
        padding: 60px 16px;
    }

    .footer-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
        max-width: 316px;
    }

    .contacts {
        padding: 40px 0 0 0;
    }
}