* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    max-width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-family: Inter;
    font-weight: 600;
    color: #403F3D;
    background-color: #E1D4C9;
    margin: 0 auto;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: block;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}

.body_disabled {
    overflow-y: hidden;
}

.count {
    padding: 20px 40px 40px 40px;
    margin: 0 auto;
    max-width: 1440px;
}

@media (max-width: 650px) {
    .count {
        padding: 20px 20px 40px 20px;
    }
}

@media (max-width: 380px) {
    .count {
        padding: 20px 16px 40px 16px;
    }
}

.header-count {
    display: flex;
    align-items: center;
}

.logo {
    max-width: 100px;
    max-height: 60px;
}

.nav-count {
    flex-grow: 1;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav li {
    margin: 0 15px;
    cursor: pointer;
    transition: 0.3s;
}

.header-nav li:hover {
    border-bottom: #403F3D 2px solid;
}

.header-menu-link {
    color: #403F3D;
    max-height: 28px;
    border-bottom: #403F3D 2px solid;
    width: 72px;
    height: 28px;
}

.header-menu-link:hover {
    border-bottom: #403F3D 2px solid;
}

.header-menu {
    display: flex;
    align-items: end;
    justify-content: space-around;
    max-width: 72px;
}

.header-burger {
    width: 44px;
    height: 44px;
    border-radius: 100%;
    border: #665F55 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    position: absolute;
    top: 32px;
    right: 40px;
}

.header-burger__lines {
    width: 16px;
    height: 8px;
    border-top: #665F55 1px solid;
    border-bottom: #665F55 1px solid;
}

@media (max-width: 768px) {
    .header-burger {
        visibility: visible;
    }

    .nav-count {
        visibility: hidden;
    }

    .header-menu-link {
        visibility: hidden;
    }
}


.menu-title {
    text-align: center;
    font-size: 60px;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
}

.menu-title_italic {
    color: #B0907A;
    font-style: italic;
}

.menu-buttons-count {
    max-width: 361px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.menu-button {
    height: 46px;
    border: #C1B6AD 1px solid;
    border-radius: 100px;
    padding: 8px 16px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #403F3D;
    cursor: pointer;
    transition: 0.3s;
}

.menu-button:hover {
    background-color: #665F55;
    color: #E1D4C9;
}

.menu-button_active {
    background-color: #665F55;
    color: #E1D4C9;
}


.menu-button__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #C1B6AD;
    margin: 0 5px 0 0;
}

.menu-products-count {
    max-width: 1360px;
    margin: 40px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.product {
    width: 310px;
    height: 506px;
    border: #C1B6AD 1px solid;
    border-radius: 40px;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
}

.product__image {
    width: 309px;
    height: 310px;
    border-radius: 40px;
}

.product:hover div:first-child {
    background-size: 309px 310px;
}

.product_disabled {
    display: none;
}

.product__image_1 {
    background: url("images/coffee-1.png") center no-repeat;
}

.product__image_2 {
    background: url("images/coffee-2.png") center no-repeat;
}

.product__image_3 {
    background: url("images/coffee-3.png") center no-repeat;
}

.product__image_4 {
    background: url("images/coffee-4.png") center no-repeat;
}

.product__image_5 {
    background: url("images/coffee-5.png") center no-repeat;
}

.product__image_6 {
    background: url("images/coffee-6.png") center no-repeat;
}

.product__image_7 {
    background: url("images/coffee-7.png") center no-repeat;
}

.product__image_8 {
    background: url("images/coffee-8.png") center no-repeat;
}

.product__image_9 {
    background: url("images/tea-1.png") center no-repeat;
}

.product__image_10 {
    background: url("images/tea-2.png") center no-repeat;
}

.product__image_11 {
    background: url("images/tea-3.png") center no-repeat;
}

.product__image_12 {
    background: url("images/tea-4.png") center no-repeat;
}

.product__image_13 {
    background: url("images/dessert-1.png") center no-repeat;
}

.product__image_14 {
    background: url("images/dessert-2.png") center no-repeat;
}

.product__image_15 {
    background: url("images/dessert-3.png") center no-repeat;
}

.product__image_16 {
    background: url("images/dessert-4.png") center no-repeat;
}

.product__image_17 {
    background: url("images/dessert-5.png") center no-repeat;
}

.product__image_18 {
    background: url("images/dessert-6.png") center no-repeat;
}

.product__image_19 {
    background: url("images/dessert-7.png") center no-repeat;
}

.product__image_20 {
    background: url("images/dessert-8.png") center no-repeat;
}

.product__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #403F3D;
    margin: 20px;
}

.product__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403F3D;
    margin: 0 20px 10px 20px;
    flex: 1 1 auto;
}

.product__prise {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #403F3D;
    margin: 0 20px 10px 20px;
}

.refresh-button {
    display: none;
}

@media (max-width: 768px) {

    .refresh-button {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0 auto 80px auto;
        width: 60px;
        height: 60px;
        border-radius: 100px;
        border: #665F55 1px solid;
    }

    .refresh-button_disabled {
        display: none;
    }

    .menu-products-count {
        margin: 40px 0 20px 0;
    }
}

@media (max-width: 500px) {
    .menu-title {
        font-size: 32px;
        line-height: 40px;
    }

    .header-burger {
        right: 20px;
    }
}


.modal-window {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
}

.modal-window_active {
    display: block;
}

.modal-window__fon {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 100;
    background-color: rgba(64, 63, 61, 0.8);
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow-y: hidden;
}

.modal-window__block {
    width: 800px;
    height: 504px;
    padding: 16px;
    border-radius: 40px;
    background-color: #E1D4C9;
    display: flex;
    justify-content: space-between;
}

.modal-window__img {
    background: url("images/coffee-1.png") center no-repeat;
    width: 310px;
    height: 310px;
    border-radius: 40px;
    margin: 0 16px 0 0;
}

.modal-window__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 12px 0;
}

.modal-window__description {
    color: #403F3D;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.modal-window-size-count {
    margin: 20px 0 0 0;
}

.modal-window-size__title {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.modal-window-size__buttons-count {
    display: flex;
    align-items: center;
    margin: 10px 0 25px 0;
}


.modal-window-size__button {
    display: flex;
    align-items: center;
    min-width: 116px;
    height: 46px;
    padding: 8px 16px 8px 8px;
    border-radius: 100px;
    border: #C1B6AD 1px solid;
    margin: 0 10px 0 0;
    cursor: pointer;
    transition: all 0.3s;
}

.modal-window-size__button:hover {
    background-color: #665F55;
    color: #E1D4C9;
}

.modal-window-size__button:hover .modal-window-size__button__image {
    background-color: #E1D4C9;
    color: #403F3D;
}

.modal-window-size__button__image {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C1B6AD;
    margin: 0 7px 0 0;
}

.modal-window-size__button_active {
    background-color: #665F55;
    color: #E1D4C9;
}

.modal-window-size__button_active .modal-window-size__button__image {
    background-color: #E1D4C9;
    color: #403F3D;
}

.modal-window-additives__buttons-count {
    display: flex;
    align-items: center;
    margin: 10px 0 25px 0;
}


.modal-window-additives__button {
    display: flex;
    align-items: center;
    min-width: 116px;
    height: 46px;
    padding: 8px 16px 8px 8px;
    border-radius: 100px;
    border: #C1B6AD 1px solid;
    margin: 0 10px 0 0;
    cursor: pointer;
}

.modal-window-additives__button__image {
    border-radius: 100px;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #C1B6AD;
    margin: 0 7px 0 0;
}

.modal-window__total-count {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.modal-window__message-count {
    display: flex;
    border-top: #C1B6AD 1px solid;
    padding: 10px 0;
    margin: 20px 0;
}

.modal-window__message-logo {
    width: 16px;
    height: 16px;
    border-radius: 100px;
    border: #403F3D 1px solid;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 5px 0 0;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
}

.modal-window__message-info {
    max-width: 424px;
    font-weight: 600;
    font-size: 10px;
    line-height: 14px;
    padding: 0 12px;
}

.modal-window__close-button {
    height: 44px;
    border: #665F55 1px solid;
    border-radius: 100px;
    padding: 10px 78px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.footer {
    height: 450px;
    border-radius: 40px;
    padding: 100px;
    background-color: #665F55;
    display: flex;
    align-items: center;
}

.footer-left {
    max-width: 530px;
    height: 150px;
    margin: 0 100px 0 0;
}


.footer-title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
    color: #E1D4C9;
}

.footer-title_italic {
    color: #B0907A;
    font-style: italic;
}

.footer-apps {
    display: flex;
    align-items: center;
    margin: 40px 0 0 0;
}

.footer-apps__icon {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: #C1B6AD 1px solid;
    margin: 0 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}

.footer-apps__icon:hover {
    background-color: #E1D4C9;
}

.footer-apps__icon:hover svg path {
    stroke: #403F3D;
}

.contacts {
    color: #E1D4C9;
}

.contacts-title {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 40px 0;
}

.contacts-info {
    margin: 0 0 15px 0;
    height: 24px;
}

.contacts-icon {
    margin: 0 5px 0 0
}


.contacts-info a {
    color: #E1D4C9;
    height: 24px;
    display: inline-block;
    transition: 0.3s;
}

.contacts-info a:hover {
    border-bottom: #E1D4C9 2px solid;
}

.contacts-icon__clock {
    width: 17px;
    height: 17px;
    border-radius: 100px;
    border: #E1D4C9 1px solid;
    display: inline-block;
    position: relative;
}

.contacts-icon__clock_min {
    width: 2px;
    height: 8px;
    background-color: #E1D4C9;
    border-radius: 100px;
    position: absolute;
    top: 1px;
    left: 7px;
}

.contacts-icon__clock_hour {
    width: 8px;
    height: 2px;
    background-color: #E1D4C9;
    border-radius: 100px;
    position: absolute;
    top: 7px;
    left: 7px;
}

@media (max-width: 1120px) {
    .footer {
        align-items: start;
        padding: 45px;
    }

    .footer-left {
        margin: 0 50px 0 0;
    }
}

@media (max-width: 768px) {
    .footer {
        display: block;
        height: 100%;
        padding: 100px 60px;
    }

    .footer-left {
        height: 100%;
    }

    .contacts {
        padding: 80px 0 0 0;
    }
}

@media (max-width: 650px) {
    .footer {
        padding: 60px 16px;
    }

    .footer-title {
        font-size: 32px;
        line-height: 40px;
        font-weight: 600;
        max-width: 316px;
    }

    .contacts {
        padding: 40px 0 0 0;
    }
}