* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    line-height: 1;
    font-size: 16px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    font-family: Inter;
    font-weight: 600;
    color: #403F3D;
    background-color: #E1D4C9;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: block;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a,
a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: inherit;
    font-weight: 400;
}


.count {
    padding: 20px 40px 40px 40px;
    margin: 0 auto;
    width: 1440px;
}

.header-count {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
    height: 60px;
}

.nav-count {
    flex-grow: 1;
}

.header-nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-nav li {
    margin: 0 15px;
    cursor: pointer;
    height: 28px;
    transition: 0.3s;
}

.header-nav li:hover {
    border-bottom: #403F3D 2px solid;
}

.header-menu-link {
    color: #403F3D;
}

.header-menu {
    display: flex;
    align-items: end;
    justify-content: space-around;
    width: 72px;
}

.header-menu-link {
    border-bottom: #403F3D 2px solid;
    width: 72px;
    height: 28px;
}

.menu-title {
    text-align: center;
    font-size: 60px;
    width: 800px;
    margin: 0 auto;
    padding: 20px 0 40px 0;
}

.menu-title_italic {
    color: #B0907A;
    font-style: italic;
}

.menu-buttons-count {
    width: 361px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

.menu-button {
    height: 46px;
    border: #C1B6AD 1px solid;
    border-radius: 100px;
    padding: 8px 16px 8px 8px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    color: #403F3D;
    cursor: pointer;
    transition: 0.3s;
}

.menu-button:hover {
    background-color: #665F55;
    color: #E1D4C9;
}

.menu-button_active {
    background-color: #665F55;
    color: #E1D4C9;
}


.menu-button__image {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border-radius: 100px;
    background-color: #C1B6AD;
    margin: 0 5px 0 0;
}

.menu-products-count {
    width: 1360px;
    margin: 40px 0 80px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product {
    width: 310px;
    height: 506px;
    border: #C1B6AD 1px solid;
    border-radius: 40px;
    margin: 0 0 40px 0;
    display: flex;
    flex-direction: column;
}

.product__image {
    width: 309px;
    height: 310px;
    border-radius: 40px;
}

.product:hover div:first-child {
    background-size: 309px 310px;
}

.product__image_1 {
    background: url("images/coffee-1.png") center no-repeat;
}

.product__image_2 {
    background: url("images/coffee-2.png") center no-repeat;
}

.product__image_3 {
    background: url("images/coffee-3.png") center no-repeat;
}

.product__image_4 {
    background: url("images/coffee-4.png") center no-repeat;
}

.product__image_5 {
    background: url("images/coffee-5.png") center no-repeat;
}

.product__image_6 {
    background: url("images/coffee-6.png") center no-repeat;
}

.product__image_7 {
    background: url("images/coffee-7.png") center no-repeat;
}

.product__image_8 {
    background: url("images/coffee-8.png") center no-repeat;
}

.product__title {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #403F3D;
    margin: 20px;
}

.product__description {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #403F3D;
    margin: 0 20px 10px 20px;
    flex: 1 1 auto;
}

.product__prise {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    color: #403F3D;
    margin: 0 20px 10px 20px;
}

.footer {
    height: 450px;
    border-radius: 40px;
    padding: 100px;
    background-color: #665F55;
    display: flex;
    align-items: center;
}

.footer-left {
    width: 530px;
    height: 150px;
    margin: 0 100px 0 0;
}

.footer-title {
    font-size: 60px;
    line-height: 75px;
    font-weight: 600;
    color: #E1D4C9;
}

.footer-title_italic {
    color: #B0907A;
    font-style: italic;
}

.footer-apps {
    display: flex;
    align-items: center;
    margin: 40px 0 0 0;
}

.footer-apps__icon {
    width: 60px;
    height: 60px;
    border-radius: 100px;
    border: #C1B6AD 1px solid;
    margin: 0 12px 0 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.contacts {
    color: #E1D4C9;
}

.contacts-title {
    font-size: 24px;
    line-height: 30px;
    margin: 0 0 40px 0;
}

.contacts-info {
    margin: 0 0 20px 0;
}

.contacts-info a {
    color: #E1D4C9;
}

.contacts-icon {
    margin: 0 5px 0 0
}

.contacts-icon__clock {
    width: 17px;
    height: 17px;
    border-radius: 100px;
    border: #E1D4C9 1px solid;
    display: inline-block;
    position: relative;
}

.contacts-icon__clock_min {
    width: 2px;
    height: 8px;
    background-color: #E1D4C9;
    border-radius: 100px;
    position: absolute;
    top: 1px;
    left: 7px;
}

.contacts-icon__clock_hour {
    width: 8px;
    height: 2px;
    background-color: #E1D4C9;
    border-radius: 100px;
    position: absolute;
    top: 7px;
    left: 7px;
}